// ====================================================================================================================
//  fonts
// ====================================================================================================================

$main-font  			: 			'Ubuntu', sans-serif;


// ====================================================================================================================
//  common colors
// ====================================================================================================================

$color-0 				:  			#3E3947; 	
$color-1 				:  			#92999C; 	
$color-2  				: 			#745360; 
$color-3  				: 			#9E85D0;	
$color-3-1 				:  			#D88683; 	
$color-4  				: 			#FFF; 	
$color-5  				:  			#8F3985;  
$color-6  				:  			#F2F2F2; 
$color-7  				:  			#00956E; 


$text-color 			: 			#222;
$body-bg-color 			: 			$color-4;

// Dw standards
$code-html  			: 			#1C70BF;	
$code-css-property		: 			#FF8080;	
$code-css-selector		: 			#79ABFF;	
$code-comment			: 			#D9E577;	
$code-css-value			: 			#E5E53F;	


// ====================================================================================================================
//  text selection
// ====================================================================================================================

$color-selection-text 	: 			#000;
$color-selection-bg		: 			#C0BEBE;


// ====================================================================================================================
//  on-canvas: top nav header 
// ====================================================================================================================
	
$header-height 			: 			50px;
$secondary-nav-height 	:  			50px;

$header-background-bg 	: 			$color-6; 	// Chrome background
$secondary-nav-color 	: 			#2D3639;	// Dw code background

$primary-nav-icon 		: 			#9E85D0;	// Adobe Illustrator SVG import


// ====================================================================================================================
//  on scroll css translation and 
//  transition delay for-loop for buttons translated with .onScroll-animate
// ====================================================================================================================

$onScroll-button 		:  			-100px;		// translationX for button onScroll fade-in
$j 		 		 		:  		 	3;			// number of buttons
$delay 		 		 	:  			0.25;		// transition-delay, in seconds


// ====================================================================================================================
//  off-canvas: mobile nav
// ====================================================================================================================

$off-canvas-width 		: 			50%;
$off-canvas-bg 			: 			$secondary-nav-color;
$off-canvas-a-hover 	: 			$secondary-nav-color;
$off-canvas-header-bg 	: 			$secondary-nav-color;
$off-canvas-header 		: 			$color-5;
$off-canvas-top-height 	: 			$header-height;
$off-canvas-hamburger 	:  			$secondary-nav-color;

// ====================================================================================================================
//  on-canvas: footer
// ====================================================================================================================

$footer-height 			: 			80px;
$footer-bg 				: 			$secondary-nav-color;

// ====================================================================================================================
//  on-canvas: about z-layer popup
// ====================================================================================================================

$about-bg	 		 	: 			$color-6;




