// ====================================================================================================================
//  fonts
// ====================================================================================================================

$main-font 				: 			'Ubuntu', sans-serif;


// ====================================================================================================================
//  common colors
// ====================================================================================================================

$color-1 					:  				#3e585f; 
$color-4 					: 				#ffffff;
$color-5  					:  				#F2F2F2; 
$color-6 					:  				#92999C; 
$color-7 					:  				#9E85D0; 	
$color-8  					:  				#8F3985; 	 

$text-color 			  : 			  #222;
$body-bg-color 		 : 				 $color-5;

$icon-color				 : 				 $color-7;	// Adobe Illustrator SVG import

$dw-bg-color 		  : 			  #2D3639;	// Dw code background

// Dw standards
$code-html  			: 			#1C70BF;	
$code-css-property		: 			#FF8080;	
$code-css-selector		: 			#79ABFF;	
$code-comment			: 			#D9E577;	
$code-css-value			: 			#E5E53F;	


// ====================================================================================================================
//  text selection
// ====================================================================================================================

$color-selection-text 	: 			#000;
$color-selection-bg		: 			#C0BEBE;


// ====================================================================================================================
//  on scroll css translation and 
//  transition delay for-loop, translated with .onScroll-animate
// ====================================================================================================================

$onScroll-slide 		:  			50px;		// translation for onScroll fade-in
$j 		 		 		:  		 	3;			// number of scroll items; there're 3 items / row
$delay 		 		 	:  			0.25;		// transition-delay, in seconds


// ====================================================================================================================
//  footer
// ====================================================================================================================

$footer-height 			: 			80px;
$footer-bg 				: 			$dw-bg-color;